@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.agendamento-container {
    display: flex;
    justify-content: space-between; /* Ajuste para distribuir o espaço entre os elementos */
    align-items: center;
    min-height: 100vh;
    background-color: #201b2c;
    color: #00ff88;
    font-weight: 500;
    font-size: 16px;
}

.agendamento-form {
    width: 100%;
    max-width: 400px; /* Reduzi a largura do formulário */
    padding: 20px;
    margin-left: -300px; /* Margem à esquerda para afastar do lado esquerdo */
}

.agendamento-title {
    color: #00ff88;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.agendamento-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.agendamento-input {
    flex: 1;
    height: 40px;
    padding: 0.5rem;
    background-color: #514869;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #1a1b1b;
    border-radius: 8px;
    outline: none;
}

.agendamento-button {
    height: 40px;
    padding: 0 1rem;
    background-color: #09e07c;
    color: #000;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.agendamento-button:hover {
    background-color: #09b363;
}

.agendamento-select {
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    background-color: #514869;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #1a1b1b;
    border-radius: 8px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 1rem;
}

.agendamento-submit {
    width: 100%;
    height: 40px;
    margin-top: 1rem;
    border: none;
    border-radius: 32px;
    background: #09e07c;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.agendamento-submit:hover {
    background: #09b363;
}

.agendamento-alert {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.hidden {
    display: none !important; /* Para garantir que esteja oculto */
}

.images {
    flex: 1; /* Ocupa todo o espaço disponível */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
    position: relative;
}

.images img {
    width: 100%;
    max-width: 600px; /* Ajuste o tamanho conforme necessário */
}

.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}
