@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined:wght@400;600&display=swap');

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}



body {
    margin: 0;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login>h1 {
    font-size: 3vw;
    color: #77ffc0;
}


.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login-novo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #4800ff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0ffffde;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}


/* light-mode.css */
body.light-mode {
    background-color: #ffffff;
    /* Fundo branco */
    color: #000000;
    /* Texto preto */
}

.body.light-mode .btn-login {
    background-color: #000000;
    /* Fundo preto para o botão */
    color: #ffffff;
    /* Texto branco para o botão */
}

/* light-mode.css/caso de erro */

/* Adicione estilos específicos para o modo claro */
.light-mode .main-login {
    background-color: #ffffff;
}

.light-mode .left-login>h1 {
    color: #000000;
}

.light-mode .card-login {
    background: #ffffff;
    color: #000000;
}

.light-mode .card-login>h1 {
    background: #ffffff;
    color: #000000;
}

.light-mode .textfield>input {
    background: #ffffff;
    color: #000000;
}

.light-mode .textfield>label {
    color: #000000;
}

.light-mode .textfield>input::placeholder {
    color: #000000;
}

.light-mode .btn-login {
    background: #000000;
    color: #ffffff;
}


/* Estilos para o botão switch */
.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #00ff88;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Estilo para o botão switch */
.switch {
    display: inline-block;
    position: fixed;
    /* Tornar o botão fixo na tela */
    top: 10px;
    /* Distância do topo */
    right: 10px;
    /* Distância da direita */
    z-index: 999;
    /* Certifique-se de que o botão esteja na parte superior */
}

.left-login-image {
    width: 35vw;
    height: 73vh;
    background-repeat: no-repeat;
    background-image: url("../assets/cara_do_login_dark.svg");

}

.light-mode .left-login-image {
    background-image: url("../assets/cara_do_login_light.svg");

}

.Modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    /* Garante que o botão de fechar fique relativo ao modal */
    background: #2f2841;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.btn-close {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    /* Ajuste conforme necessário */
    right: 10px;
    /* Ajuste conforme necessário */
    outline: none;
    transition: transform 0.3s ease-out;
}

.btn-close:hover {
    transform: scale(1.1);
    /* Efeito de escala ao passar o mouse */
}

.btn-close::after {
    content: '\00D7';
    /* Caractere X para o ícone de fechar */
}

.btn-primary {
    --bs-btn-border-color: none;
}

.btn {
    padding: 3%;

}

.modal-header {
    color: #00ff88;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
}

.modal-body {
    padding: 30px 0;
}

.modal-footer {
    border-top: none;
    padding-top: 20px;
}

.modal-body {
    height: 100%;
    margin: 0;
    padding: none;
    width: 100%;
}

.safado {
    color: #000000;
    background-color: #00ff88;
    transition: border-color 0.25s;
    text-transform: uppercase;
    font-weight: 600;
   
}

.safada {
    color: #000000;
    background-color: #00ff88;
    transition: border-color 0.25s;
    text-transform: uppercase;
    font-weight: 600;
}

.safado:hover {
    background-color: #00ff886b;
    color: #d1caca;
}

.safada:hover {
    background-color: #00ff886b;
    color: #d1caca;
}


/* Estilos para o modal no modo claro */
.light-mode .modal-content {
    background: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.light-mode .btn-close {
    color: #000000;

}

.light-mode .btn-close:hover {
    transform: scale(1.1);
    color: #f50606;
}

.light-mode .btn-close::after {
    content: '\00D7';
}


.light-mode .modal-header {
    color: #000000;
}

.light-mode .modal-title {
    font-weight: bold;
    font-size: 24px;
}

.light-mode .modal-body {
    color: #000000;
}

.light-mode .modal-footer {
    border-top: none;
    padding-top: 20px;
}

.light-mode .safado {
    color: #ffffff;
    background-color: #000000;
    transition: border-color 0.25s;
    text-transform: uppercase;
    font-weight: 600;
}

.light-mode .safada {
    color: #ffffff;
    background-color: #000000;
    transition: border-color 0.25s;
    text-transform: uppercase;
    font-weight: 600;
}

.light-mode .safado:hover {
    background-color: #2726266b;
    color: #1a1919;
}

.light-mode .safada:hover {
    background-color: #2726266b;
    color: #1a1919;
}